.bg-wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 51%;
    left: 50%;
    width: 100%;
    max-width: 2242px;
    height: 1346px;
    transform: translate(-50%, -50%);
    background-image: url("../img/big-vectors.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .bg-wrapper {
    &::before {
      top: 53%;
      left: 80%;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .bg-wrapper {
    &::before {
      top: 19%;
      left: 88%;
      transform: translate(-50%, 10%);
    }
  }
}
