.contacts {
  display: flex;
}

.contacts ul {
  @include reset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.contacts__button {
  margin-left: 38px;
}

.contacts li {
  margin-left: 88px;

  &:first-child {
    margin-left: 0;
  }
}

.contacts a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.contacts span {
  margin-left: 20px;
}

@media (max-width: $tablet-breakpoint) {
  .contacts span {
    display: none;
  }

  .contacts__button {
    display: none;
  }
}
