.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  @include container;
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-breakpoint) {
  .header__wrapper {
    padding-top: 20px;
  }
}
