.logo-link {
  display: flex;
  align-items: center;
  min-width: 202px;
}

.logo-link img {
  margin-right: 16px;
}

.logo-link span {
  color: $white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo-link p {
  @include reset;
  color: $gray-additional;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}


@media (max-width: $mobile-breakpoint) {
  .logo-link img {
    width: 38px;
    height: 38px;
  }

  .logo-link span {
    display: none;
  }

  .logo-link p {
    display: none;
  }
}
