.logo-link {
  display: flex;
  align-items: center;
  min-width: 202px;
  color: $white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  &--dark {
    color: $green-dark;
  }
}

.logo-link img {
  margin-right: 16px;
}

.logo-link p {
  @include reset;
  text-align: left;
  color: $gray-additional;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
