.services {
  padding-top: 93px;
  padding-bottom: 124px;
  background-color: $gray-darkest;
}

.services__wrapper {
  @include container-mini;
}

.services h2 {
  @include reset;
  margin-bottom: 47px;
  color: $white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.services ul {
  @include reset;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services li {
  margin-right: 30px;
  position: relative;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover img,
  &:focus img {
    opacity: 0.5;
  }
}

.services img {
  opacity: 0.2;
}

.services h3 {
  @include reset;
  width: 175px;
  color: $white;
  position: absolute;
  left: 44px;
  top: 53px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.services__forward {
  position: absolute;
  border: none;
  bottom: 4px;
  right: 0;
  display: block;
  width: 63px;
  height: 63px;
  background-color: $blue;
  background-image: url("../img/icon-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-breakpoint) {
  .services {
    padding-top: 50px;
    padding-bottom: 31px;
  }

  .services h2 {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 95px;
    margin-bottom: 52px;
  }

  .services ul {
    flex-direction: column;
  }

  .services li {
    overflow: hidden;
    width: 100%;
    height: 256px;
    margin-right: 0;
    margin-bottom: 46px;
  }

  .services img {
    object-fit: cover;
    position: absolute;
    min-width: 100%;
    height: 140%;
    margin: -10% 0;
    left: 0;
    top: 0;
  }

  .services h3 {
    top: 39px;
    left: 43px;
  }

  .services__forward {
    bottom: 0;
    right: 0;
  }
}

@media (max-width: $mobile-breakpoint) {
  .services {
    padding-top: 53px;
    padding-bottom: 35px;
  }

  .services h2 {
    font-size: 28px;
    line-height: 140.62%;
    padding-right: 0;
    padding-left: 9px;
    margin-bottom: 37px;
  }

  .services li {
    margin-bottom: 30px;
  }

  .services h3 {
    top: 23px;
    left: 35px;
  }
}
