.socials {
  display: flex;
  flex-direction: column;
}

.socials__logo-link {
  margin-bottom: 53px;
}

.socials p {
  @include reset;
}

.socials__years {
  display: none;
  color: $green-dark;
  opacity: 0.5;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.socials ul {
  @include reset;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
}

.socials svg {
  fill: $gray-light-additional;

  &:focus,
  &:hover {
    fill: $black;
  }
}

@media (max-width: $tablet-breakpoint) {
  .socials {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .socials__logo-link {
    margin-bottom: 0;
  }

  .socials__years {
    display: block;
  }
}


@media (max-width: $mobile-breakpoint) {
  .socials {
    flex-direction: column;
    align-items: center;
  }

  .socials__logo-link {
    margin-bottom: 26px;
  }

  .socials__years {
    margin-bottom: 31px;
  }
}
