body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  background-color: $white;
  color: $black;
  min-width: $mobile-width - 17px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overflow-hidden {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
