body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  background-color: $white;
  color: $black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overflow-hidden {
  overflow: hidden;
}

.modal-show {
  opacity: 1;
  visibility: visible;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay.modal-show {
  opacity: 0.5;
  visibility: visible;
  background-color: $black;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
