@mixin container {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: $tablet-breakpoint) {
    max-width: $tablet-breakpoint;
    padding: 0 25px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: $mobile-breakpoint;
    padding: 0 16px;
  }
}

@mixin container-mini {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 25px;

  @media screen and (max-width: $tablet-breakpoint) {
    max-width: $tablet-breakpoint;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: $mobile-breakpoint;
    padding: 0 16px;
  }
}

@mixin reset {
  padding: 0;
  margin: 0;
}
