// colors
$white: #ffffff;
$black: #000000;
$green-dark: #203c42;
$gray-darkest: #1b2d37;
$gray: #666666;
$gray-additional: #788891;
$gray-light-additional: #cdcdcd;
$gray-lighten: #c4c4c4;
$gray-light: rgba(98, 105, 98, 0.2);
$blue: #00b2ff;
$red: #e74747;

//scaling
$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-width: 1491px;
$content-width: 1220px;
