// colors
$white: #ffffff;
$black: #000000;
$green-dark: #203C42;
$gray-darkest: #1B2D37;
$gray: #666666;
$gray-additional: #788891;
$blue: #00B2FF;
$red: #e74747;

//scaling
$mobile-width: 320px;
$mobile-breakpoint: 767px;
$tablet-width: 768px;
$tablet-breakpoint: 1023px;
$desktop-width: 1440px;
